{% for event in paevents %}
  <div class='event-book-row' paevent-id="{{event.id}}">
    <p class='event-book-title'>{{ event.title }}</p>
    <p class='event-book-content'>{{event.start_date|date:"H:i d-m-Y"}} / {{event.end_date|date:"H:i d-m-Y"}}</p>
  </div>
{% endfor %}