<div id='eventBookSidePanel' page='{{ page_no }}'>
<button class='hide-dialog'><span class='ui-icon ui-icon-carat-1-n'></span></button>
  <div class='event-book-holder'>
    {{ paevent|safe }}
  </div>
  <div class='event-book-controllers'>
	  <button class='prev-event-list' disabled><span class='ui-icon ui-icon-carat-1-w'></span></button>
	  <span class='page_no'>{{page_no}}</span> / <span class='max_pages'>{{pages}}</span>
	  <button class='next-event-list' {% if page_no == pages %}disabled{% endif %}><span class='ui-icon ui-icon-carat-1-e'></span></button>
  </div>
</div>