<div id='eventBookFullDesc'>
  <table>
    <tr>
      <td colspan=2 style='text-align:center;'>{{event.title}}</td>
    </tr>
    <tr>
      <td>Od</td>
      <td>{{event.start_date|date:"H:i d-m-Y"}}</td>
    </tr>
    <tr>
      <td>Do</td>
      <td>{{event.end_date|date:"H:i d-m-Y"}}</td>
    </tr>
    <tr>
      <td>Cena</td>
      <td>{{event.price}} Złotych</td>
    </tr>
    <tr>
      <td>Miejsce</td>
      <td>{{event.place}}<button class='event-place-clicker' cords='{% if event.poi %}{{event.poi.lat}}/{{event.poi.lng}}{% endif %}'><span class='ui-icon ui-icon-search'></span></button></td>
    </tr>
    <tr>
      <td>Link</td>
      <td><a href='{{event.link}}'>{{event.link}}</a></td>
    </tr>
    <tr>
      <td colspan=2 style='border-top: 1px solid #000000; padding-top: 10px;'>{{event.description}}</td>
    </tr>
  </table>
</div>