<html>
<head>
<title>{% if desc %}{{ desc.title }} {% else %} New Description {% endif %} - Simple text editor</title>
{% load staticfiles %}
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'jquery-ui.min.js' %}"></script>
<script src="{% static 'imgchooser.js' %}"></script>
<script>
$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
});
</script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'editor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'imgchooser.css' %}">
</head>
<body>
  <p>Title: <input id="title" type="text" maxlength="255" value="{% if desc %}{{desc.title}}{% endif %}"></p>
<div id="controls">
  <div class="control text-style" style="width:250px;">
		<button class="text-tag-button" tag="b"><b>B</b></button>
		<button class="text-tag-button" tag="i"><i>I</i></button>
		<button class="text-tag-button" tag="u"><u>U</u></button>
    <button class="text-tag-button" tag="p">P</button>
		<button class="text-tag-button" tag="h4"><h4 style="margin:0px;">H4</h4></button>
		<button class="text-tag-button" tag="h3"><h3 style="margin:0px;">H3</h4></button>
		<button class="text-tag-button" tag="h2"><h2 style="margin:0px;">H2</h4></button>
		<button class="text-style-button" tag="font-size:10pt">S</button>
		<button class="text-tag-button" tag="br">break line</button>
		<button class="text-tag-button" tag="hr">hr<hr></hr></button>
		
	</div>
	<div class="control objects" style="width:100px;">
	  <button id='img'>Image</button>
	  <button id='link'>Link</button>
	  <button class="set-color-button" tag="color" style="color:#ff0000"><b>F</b></button>
	  <button class="set-color-button" tag="background-color" style="background-color:#ff0000;"><b>A</b></button>
	  <input type="color" value="#ff0000" class="colorpicker" style="width:20px; float:right;">
  </div>
  <div class="control text-position" style="width:150px;">
	  <button class="text-tag-button" tag="pleft">Left</button>
	  <button class="text-tag-button" tag="pcenter">Center</button>
	  <button class="text-tag-button" tag="pright">Right</button>
	  <button class="text-tag-button" tag="pjustify" style="width:100%">Justify</button>
    <hr>
    <button class="text-style-button" tag="float:left" style="float:left">Left</button>
    <button class="text-style-button" tag="float:right" style="float:right">Right</button>
  </div>
  <div class="control settings" style="width:150px;">
	  <button class='preview' mode="editor">Preview</button>
    <button id='save'>Save</button>
		<button class='html-editor'>HTML Editor</button>
	</div>
</div>
<div id="box">
	<textarea id='editor' descid = "{% if desc %}{{desc.id}}{% else %}none{% endif %}" rows="20" cols="120">{% if desc %}{{ desc.description }}{% endif %}</textarea>
	<div class="preview"></div>
</div>
<script src="{% static 'editor.js' %}"></script>
</body>
</html>