body {
  background: black;
  color: white;
}

div#controls {
	display: inline-flex;
	height: 100px;
	background-color: lightgray;
	border: 4px outset #dfdfdf;
}

div#box {
 width:800;
 display: block;
}

div.preview {
	display:none;
  padding: 5px;
  color: #00ff00;
  border: 2px dashed green;
}

textarea#editor {
	border-bottom: 5px solid #B2B2B5;
}

div.control {
	display:inline-block;
	height:100%;
	padding-right: 5px;
	margin: 1px;
	border-right: 2px dashed gray;
}

.dialog-table {
	color: white;
}