{% load staticfiles %}
{% spaceless %}
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAycOJXGCJnK-uDzODK_il19vfCVt0iaws"></script>
    <script src="{% static 'google-analitycs.js' %}"></script>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jquery-ui.min.js' %}"></script>

    <script>
      $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
      });
    </script>
    <script src="{% static 'encyclopedia.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'encyclopedia-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.min.css' %}">
  </head>
  <body>
    <div class='filter-box'>
      <table>
        <tbody>
          <tr>
            <td>Rok</td>
            <td>
              <select id='date'>
                <option value='-1'>---</option>
                {% for year in years %}
                  <option value='{{year}}'>{{year}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td>Frakcja</td>
            <td>
              <select id='factions'>
                <option value='-1'>---</option>
                {% for faction in factions %}
                  <option value='{{faction.id}}'>{{faction.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td>Wydarzenie</td>
            <td>
              <select id='event'>
                <option value='-1'>---</option>
                {% for event in events %}
                  <option value='{{event.id}}'>{{event.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td>Obiekt</td>
            <td>
              <select id='obj'>
                <option value='-1'>---</option>
                {% for obj in objects %}
                  <option value='{{obj.id}}'>{{obj.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <button class='confirm-filters' style='flow: right;'>Fitruj</button>
    </div>
    <div class='left-view'>
      <div class='upper-view'>
        <button class='filters'>Filtry</button>
      </div>
      <div class='list-view'>
        <ul>
        {% for description in descriptions %}
          <li did='{{description.id}}'
            factions='{% if description.faction %}{% for v in description.faction %}{{v}},{% endfor %}{% endif %}'
            event='{% if description.event %}{% for v in description.event %}{{v}},{% endfor %}{% endif %}'
            obj='{% if description.obj %}{% for v in description.obj %}{{v}},{% endfor %}{% endif %}'
            date='{% if description.date %}{{description.date}}{% endif %}'
          >{{description.title}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class='right-view'>
      <div class='upper'>
        <div class='title'>
          {% if opened %}
            <span>{{opened.title}}</span>
          {% endif %}
        </div>
        <div class='info'>
          <table>
          {% if opened %}
            <tr><td><b>Utworzono: </b></td><td class='txt'>{{opened.creation_date|date:"H:i:s d.m.Y"}}</td></tr>
            <tr><td><b>Ostatnia modyfikacja: </b></td><td class='txt'>{{opened.modification_date|date:"H:i:s d.m.Y"}}</td></tr>
            <tr><td><b>Autor: </b></td><td class='txt'>{{opened.author}}</td></tr>
          {% else %}
            <tr><td><b>Utworzono: </b></td><td class='txt'></td></tr>
            <tr><td><b>Ostatnia modyfikacja: </b></td><td class='txt'></td></tr>
            <tr><td><b>Autor: </b></td><td class='txt'></td></tr>
          {% endif %}
          </table>
        </div>
      </div>
      <div class='content'>
        {% if opened %}
          {{opened.description|safe}}
        {% endif %}
      </div>
      <div class='bottom'></div>
    </div>
  </body>
</html>
{% endspaceless %}