div#eventBookSidePanel {
  position: absolute;
  border: 1px solid grey;
  min-width: 400px;
  min-height: 100px;
  top: 50px;
  left: 300px;
  background: rgba(57, 72, 55, 0.91);
  border-radius: 5px;
}

#eventBookSidePanel .hide-dialog {
	float: right;
}

.event-book-holder {
	margin-top: 25px;
}

.event-book-row {
	font-family: monospace;
  font-size: 12pt;
  background: rgb(99, 112, 98);
  box-shadow: 0px 0px 3px 1px #5a6859;
  margin-bottom: 5px;
  padding-left: 5px;
  color: rgb(255, 250, 250);
}

.event-book-row p{
  margin: 0px;
}

.event-book-row p.event-book-title {
  margin-bottom: 5px;
  padding-left: 10px;
}

.event-book-row p.event-book-content {

}

.event-book-controllers {
	text-align: center;
  color: white;
}

button.event-place-clicker {
    margin-left: 5px;
}

.event-book-row:hover {
  background: #414541;
  color: #e2dbcf;
}


div#eventBookFullDesc td {
  padding-bottom: 5px;
}

div#eventBookFullDesc table {
	width: 100%;
}