body {
	margin: 0px;
  background: #000000;
  color: lime;
  font-family: monospace;
  font-size: 12pt;
}

.left-view {
  display: inline-block;
  width: 300px;
  max-width: 20%;
  background: #000000;
  border-right: 2px solid #494949;
  height: 100%;
}

.right-view {
  display: inline-block;
  padding: 0px 10px;
  width: 80%;
  vertical-align: top;
}

.info {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  outline: 1px solid #494949;
}

.upper {
  margin-bottom: 10px;
}

.info div {
  display: inline-block;
}

.title {
  display: inline-block;
  width: 70%;
  padding: 10px 0px;
  font-size: 14pt;
  font-weight: bold;
}

.list-view {
  height: calc(90%);
  overflow-y: auto;
  overflow-x: auto;
}

.list-view ul {
	list-style-type: none;
  padding: 0px 5px 0px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14pt;
}

.list-view ul li {
	padding: 1px 0px;
	cursor: pointer;
}

.list-view ul li:hover {
  background: #00bf00;
  color: black;
}

button.filters, button.confirm-filters {
	width: 100%;
  font-size: 18pt;
  font-family: monospace;
  border: 0px;
  background: #4b4f4b !important;
  color: #e2dbcf;
  padding: 5px 0px;
  cursor: pointer;
}

.filter-box {
	display: none;
	position: absolute;
	min-width: 200px;
	min-height: 100px;
	background: black;
	border: 1px solid #494949;
  box-shadow: 3px 3px 2px 0px #494949;
}

.filter-box table {
	margin: 5px;
	font-size: 12pt;
}