.description-box ul {
    vertical-align: middle;
    display: inline-block;
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    max-width: 250px;
    border: 1px solid black;
    background: #EFEFEF;
    padding: 0px;
    margin-top: 3px;
    overflow: auto;
}

.description-box table {
	text-align: center;
}

.description-box {
	text-align: center;
}

.description-box li {
	list-style: none;
}

.description-box li:hover {
	background-color: #4BF478;
}

ul.context-menu {
  margin: 0px;
  padding-inline-start: 0px;
  padding: 5px;
  list-style: none;
}