div.list { }

div.list span.box {
	border:2px solid #1a1a1a;
	border-radius: 6px;
	display: inline-block;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
}

div.list span.icons {
	width: 32px;
	height: 32px;	
}

div.list span.images {
	width:128px;
	height:128px;
}

div.list span.box:hover {
	border:2px dotted #ff1111;
}

div.list span.pic-active {
	border:2px solid #ff1111;
}

span#iconbox {
   width : 32px;
   height : 32px;
   display :  inline-block;
   background-repeat :  no-repeat;
   background-position : center;
}