body {
	background:black;
	margin: 0px;
}

button:active, .a-button:active {
  background-color: #0F5D16;
}

button:focus, .a-button:focus {
  outline: none;
}

button:hover, .a-button:hover {
  cursor: pointer;
  background: #4b4f4b !important;
  color: #e2dbcf;
}

button, .a-button{
  background: #9d929200;
  padding: 5px;
  font-size: 16pt;
  font-family: monospace;
  font-weight: bold;
  color: #fffafa;
  border: 0px;
}

.a-button {
	text-decoration: none;
	height: 100%;
}

.upper-menu button {
	height: 50px;
}

button.map-btn {
	background: #5a6859d4;
}

span.vertical-line {
  background: #878f86;
  width: 2px;
  height: 100%;
  display:inline-block;
  vertical-align: bottom;
}

button[disabled] {
  background: #bbb4b4;
  color: white;
  border-color: #d2d9d3;
  border-radius: 5px;
  border-width: 1px;
  cursor: default;
}

.ui-icon {
	background-image: url('/static/images/ui-icons_ffffff_256x240.png') !important;
}

.upper-inputs {
	display: inline-block;
	padding-left:10px;
}

div.upper-menu {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #7f7f7f;
  background: #5a6859;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

div.upper-menu .login-box {
  display: inline-block;
  vertical-align: top;
  padding: 15px 5px;
}

div.center-box {
	margin-left:auto;
	margin-right:auto;
  width:100%;

}

.up-bar {
  border-bottom: 1px solid #5a6859;
  padding-left: 5px;
  font-size: 20pt;
  font-family: monospace;
  color: #fffafa;
}

p.text {
	padding-left: 10px;
	padding-right: 10px;
}

#map-box {
  position:relative;
  min-width:300px;
  min-height:400px;
}

.text-box-inside {
  overflow-y: auto;
  max-height:590;
}

.box{
  position:relative;
  width:500;
  display:table-cell;
  height:600;
}

div.text-box{
  color: #33FF33;
  background:black;
  border: 2px dashed green;
}

div#map-box{
  background: red;
}

div#contMenu{
	display:none;
  padding: 5px;
  position: absolute;
  border: 2px solid #000000;
  background: #FFFFFF;
  border-radius: 20px;
  border-top-left-radius: 0px;
  z-index: 100;
}

li.context-menu-item {
	
}

li.context-menu-item:hover {
  cursor: hand;
}


table.dialog-table td {
	color: black;
}

div#textBox {
  min-width: 300px;
  width: 50%;
  min-height: 400px;
  max-height: 591px;
  position: absolute;
  top: 50px;
  background: rgba(0, 0, 0, 0.88);
  box-shadow: 0px 0px 3px 1px #5a6859;
  right: 0px;
}

div#textBox p {
  color: #fffafa;
  padding-left: 5px;
  padding-right: 5px;
  font-family: monospace;
  font-size: 14pt;
}

.readonly-input {
  border: 0;
  color: #fffafa;
  font-weight: bold;
  font-size: 16pt;
  font-family: monospace;
  background: none;
}

div#timeFilters {
  width:100;
  display:table-cell;
  height:100%;
}

.hide-text-box {
	float:right;
}

#filterBox {
	min-width:300px;
  min-height:300px;
  max-height:500px;
  position:absolute;
  left: 50px;
  top: 50px;
  width:1000px;
  background: rgba(0, 0, 0, 0.88);
  box-shadow: 0px 0px 3px 1px #5a6859;
}

#informationBox {
  min-width: 300px;
  width: 50%;
  min-height: 300px;
  max-height: 500px;
  position: absolute;
  right: 50px;
  top: 50px;
  padding: 5px;
  color: #fffafa;
  font-family: monospace;
  font-size: 12pt;
  background: rgba(0, 0, 0, 0.88);
  background-image: url(/static/logozakon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  box-shadow: 0px 0px 3px 1px #5a6859;
}

.filter-box {
  max-width:200px;
  display: inline-block;
  margin-left: 10px;
  z-index: 999;
  vertical-align: top;
  background-color: rgba(174, 202, 172, 0.58);
  padding: 5px;
}

.filter-option-box {
	margin-top: 10px;
  margin-bottom: 10px;
}

.close-filter, .info-close-button {
  position: absolute;
  right: 0;
  z-index: 1000;
}

.filter-data {
  margin-right: 30px;
  max-height: 70px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1000;
  top: 5px;
  background: #5a6859;
}

.filter-icon {
	display:inline-block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}

#fraction table p {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}

#filterBox table {
  margin-left: auto;
  margin-right: auto;
}

#filterBox p {
  text-align: center;
  font-size: 13pt;
  font-family: monospace;
  color: snow;
}

#filterBox p {
	width: 130;
  vertical-align: top;
  margin: 0px;
  margin-left: 5px;
}

.any-filter {
  margin-right: 20px;
  display: inline-block;
}

p.any-filter-title {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #CBF9C4;
  font-weight: bold;
}

li.list-menu-item {
  cursor: pointer;
  list-style: none;
}

ul.list-menu {
	text-align: center;
  margin: 0px;
  padding: 5px;
}

li.list-menu-item:hover {
  background: rgba(144, 191, 135, 0.31);
}

.text-box-inside a {
  color: #00ff00;
}

.text-box-inside a:hover {
  background: green;
}

.ajax-load {
	display: inline-block;
	width:32px;
	height:32px;
	background: url('/static/ajax-loader.gif')
}

.cookieBox {
	position:fixed;
	bottom: 0px;
	width:100%;
  background: rgba(109, 128, 96, 0.78);
  text-align: center;
  color: white;
  font-size: 14pt;
}

.cookieBox .close-cookies {
	color: yellow;
	cursor: pointer;
}

.cookieBox a {
  color: #fcff25;
  text-decoration: none;
}

.cookieBox a:hover {
	color: #c7ca1e;
}

.cookieBox .close-cookies:hover {
	color: #c7ca1e;
}

.upper-menu .range-holder, .upper-menu .controller-btn-holder {
  display: inline-block;
  height: 100%;
}