{% spaceless %}

<html>
<head>

{% load staticfiles %}
{% load auth_helper %}
{% load getters %}
<title>PPA MAP</title>
  <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'mapstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'eventbook.css' %}">
{% if user.is_authenticated %}
  <link rel="stylesheet" type="text/css" href="{% static 'imgchooser.css' %}">
{% endif %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAycOJXGCJnK-uDzODK_il19vfCVt0iaws"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.min.css' %}">
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'jquery-ui.min.js' %}"></script>
<script src="{% static 'eventbook.js' %}"></script>
<script src="{% static 'description.js' %}"></script>
<script src="{% static 'filter.js' %}"></script>
<script src="{% static 'google-analitycs.js' %}"></script>
<script src="{% static 'cookie.js' %}"></script>
<script src="{% static 'ppamap.js' %}"></script>
</head>
<body oncontextmenu="return false;">
	<div id="upper-menu" class="upper-menu">
		<div class="upper-inputs" id="rangeFilter">
			<div class='range-holder'>
				<input class="readonly-input" id='fromYear' readonly type='number' val style='display:inline-block; width:64px;'>
				<div id="rangeDiv" style="width:200px; display:inline-block;"></div>
				<input class="readonly-input" id='toYear' readonly type='number' val style='display:inline-block; margin-left:30px; width:64px;'>
			</div>
			<div class='controller-btn-holder'>
				<span class='vertical-line'></span>
				<button id='runFilter'>Odfiltruj</button>
        <span class='vertical-line'></span>
	      <button id='showFilters'>Wiecej filtrów</button>
        <span class='vertical-line'></span>
	      <button id='showEventBook'>Imprezy</button>
        <span class='vertical-line'></span>
        <a href='/encyclopedia/' class='a-button'>Wersja tekstowa</a>
        <span class='vertical-line'></span>
    {% if request|check_user_permissions:"map.add_description" %}
        <button id='add-new-description' style:"display:inline-block; float:left;">Dodaj opis</button>
        <span class='vertical-line'></span>
    {% endif %}
    {% if request|check_user_permissions:"map.add_userarea" %}
      
      <button id='adminAddRestrictionArea'>Dodaj obszar restrykcji</button>
      <span class='vertical-line'></span> 
	  {% endif %}
	  {% if request|check_user_permissions:"map.add_poi" %}
	   <button id='showMyRestrictions'>Pokaż mój obszar</button>
	   <span class='vertical-line'></span>
	  {% endif %}
	    </div>
		</div>
		<div class="upper-inputs" style="float: right">

		  <button id='about'><span class='ui-icon ui-icon-help'></span></button>
      <span class='vertical-line'></span>
      <button id='textToggler'><span class='ui-icon ui-icon-triangle-1-s'></span></button>
      <span class='vertical-line'></span>
      <div class='login-box'>
		  {% if user.is_authenticated %}logout{% else %}login{% endif %}<span {% if user.is_authenticated %}id='logout'{% else %}id='login'{% endif %} class='ui-icon ui-icon-unlocked'style="display:inline-block; "></span>
		  </div>
		</div>
	</div>
	<div class="center-box">
		<div id="map-box" class="box"></div>
	</div>
	<div id='textBox'>
	  <div class='text-box-inside'>
	  </div>
	</div>
	
	<div id='dynamicContent'>
	</div>
	
	<div id='filterBox' style='overflow:auto;'>
	 <div class='any-filter'>
		  <div id='objectType' class='filter-box'>
	       <p>Typ obiektu</p>
	       <hr>
	         {% for obj in obj_type %}
	         <div class='filter-option-box'>
	           <input type='checkbox' value='{{obj.name}}'>
	           <p style='display:inline-block'>{{obj.name}}</p>
	         </div>
	         {% endfor %}
	    </div>
		  <div id='fraction' class='filter-box'>
		     <p>Frakcja</p>
		     <hr>
			     {% for faction in factions %}
			       <div class='filter-option-box'>
			         <input style='display:inline-block' type='checkbox' value='{{faction.name}}'>
			         <span class='filter-icon' style='background: url({{faction.icon.img.url}}) center center no-repeat; display:inline-block'>
			         </span>
			         <p style='display:inline-block'>{{faction.name}}</p>
			       </div>
			     {% endfor %}
	
		  </div>
		  <div id='event' class='filter-box' style='right:0px;'>
		    <p>Wydarzenie</p>
		    <hr>
	        {% for event in events %}
	        <div class='filter-option-box'>
	          <input type='checkbox' value='{{event.name}}' style='display:inline-block'>
	          <p style='display:inline-block'>{{event.name}}</p>
	        </div>
	        {% endfor %}
	    </div>
    </div>    
         <button class='filter-data'>Odfiltruj!</button>
    <button class='close-filter'>X</button>
	</div>
	<div id='informationBox'>
	  <button class='info-close-button'>X</button>
	  <div class='info-text-area'>
	    <p>Brakuje jakieś informacji? Coś się nie zgadza? Wykorzystano fotkę bez twojej zgody?
	    <br>Pisz na maila (poniżej).</p>
	    <p>Informacje o tym tworze:<br>
	       Wersja: 0.8.1<br>
	       Autorzy: Samlis Coldwind, Iacobi<br>
	       Kontakt: Iroeyn NA gmail KROPKA com<br>
	       Podziękowania dla:<br>
	       Hegemon Kris, Vivian, Luigie, Okrutny, Havoc...
	    </p>
	  </div>
	</div>
	<div class='cookieBox'>
	  Strona wykorzystuje ciasteczka... oh nie oh nie...
    <a href="http://wszystkoociasteczkach.pl/">Czytaj więcej</a>
    <span class="close-cookies">X</span>
	</div>
</body>
  <script src={% static 'mapscript.js' %}></script>
  <script src={% static 'auth.js' %}></script>
  <script src={% static 'about.js' %}></script>
{% if request|check_user_permissions:"map.add_poi" %}
  <script src={% static 'editscripts.js' %}></script>
  <script src={% static 'imgchooser.js' %}></script>
  <link rel="stylesheet" type="text/css" href="{% static 'editstyle.css' %}">
{% endif %}
{% if request|check_user_permissions:"map.add_userarea" %}
  <script src={% static 'admin-actions.js' %}></script>
{% endif %}

<script>
$.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
});
{% if user.is_authenticated %}
	loggedin = true;
{% else %}
	loggedin = false;
{% endif %}
</script>
<div id="contMenu"></div>
</html>
{% endspaceless %}