<div>
	<table class='dialog-table' {% if poi_property %} ppaid='{{poi_property.id}}' {% endif %} >
	  <tr><td>Title</td><td><input class='title' {% if poi_property and poi_property.title %} value='{{ poi_property.title }}' {% endif %}></td></tr>
	  <tr><td>Object type</td><td><select class='object-type'>
      <option value='null'>None</option>
	    {% for obj in obj_types %}
	      <option value='{{obj.id}}' {% if poi_property and obj.id == poi_property.obj_type_id %} selected {% endif %}>{{ obj.name }}</option>
	    {% endfor %}
	  </select></td></tr>
	  <tr><td>Event type</td><td><select class='event-type'>
	      <option value='null'>None</option>
	    {% for evt in evt_types %}
        <option value='{{evt.id}}' {% if poi_property and evt.id == poi_property.evt_type_id %} selected {% endif %}>{{ evt.name }}</option>
      {% endfor %}
	  </select></td></tr>
	  <tr><td>Faction</td><td><select class='faction'>
      <option value='null'>None</option>
	    {% for fct in factions %}
        <option value='{{fct.id}}' {% if poi_property and fct.id == poi_property.fct_id %} selected {% endif %}>{{ fct.name }}</option>
      {% endfor %}
	  </select></td></tr>
	  <tr><td>First show date</td><td><input type='date' id='active-date' min='2077-01-01' {% if poi_property %} value='{{poi_property.action_date}}' {% endif %} ></td></tr>
	  <tr><td>Icon</td><td><button class='icons' {% if poi_property and poi_property.icon %} pic-id='{{poi_property.icon.id}}'> 
	                       <span id="iconbox" style="background-image: url({{poi_property.icon.img.url}});"></span>
	                       {% else %}
	                       > addIcon {% endif %}</button>
	                       </td></tr>
	  <tr><td>Lat</td><td><input class='lat' value='{{lat}}'></td></tr>
	  <tr><td>Lng</td><td><input class='lng' value='{{lng}}'></td></tr>
	</table>
  <div class='description-box'>
  <table><tr><td>Descriptions</td><td>Used descriptions</td></tr>
	    <tr><td>
		    <ul class='descriptions-list'>
		    {% for desc in descriptions %}
		      <li class='description-item' value='{{desc.id}}'>{{desc.title}}</li>
		    {% endfor %}
		    </ul>
	    </td><td>
		    <ul class='used-descriptions'>
		    {% for desc in used_descriptions %}
		      <li class='description-item' value='{{desc.id}}'>{{desc.title}}</li>
		    {% endfor %}
		    </ul>
	    </td>
    </table>
  </div>
</div>