<div>
  <table class='dialog-table' {% if poly_property %} ppaid='{{poly_property.id}}' {% endif %} >
      <tr><td>Object type</td><td><select class='object-type'>
      <option value='null'>None</option>
      {% for obj in obj_types %}
        <option value='{{obj.id}}' {% if poly_property and obj.id == poly_property.obj_type_id %} selected {% endif %}>{{ obj.name }}</option>
      {% endfor %}
    </select></td></tr>
    <tr><td>Event type</td><td><select class='event-type'>
        <option value='null'>None</option>
      {% for evt in evt_types %}
        <option value='{{evt.id}}' {% if poly_property and evt.id == poly_property.evt_type_id %} selected {% endif %}>{{ evt.name }}</option>
      {% endfor %}
    </select></td></tr>
    <tr><td>Faction</td><td><select class='faction'>
      <option value='null'>None</option>
      {% for fct in factions %}
        <option value='{{fct.id}}' {% if poly_property and fct.id == poly_property.fct_id %} selected {% endif %}>{{ fct.name }}</option>
      {% endfor %}
    </select></td></tr>
    <tr><td>First show date</td><td><input type='date' id='active-date' min='2077-01-01' {% if poly_property %} value='{{poly_property.action_date}}' {% endif %} ></td></tr>
    <tr><td>Stroke color</td><td><input type='color' id='stroke-color' {% if poly_property %} value='{{poly_property.stroke_color}}' {% endif %}></td></tr>
    <tr><td>Stroke weight</td><td><input id='stroke-weight' {% if poly_property %} value='{{poly_property.stroke_weight}}' {% endif %}></td></tr>
    <tr><td>Stroke opacity</td><td><input id='stroke-opacity' {% if poly_property %} value='{{poly_property.stroke_opacity}}' {% endif %}></td></tr>
    <tr><td>Fill color</td><td><input type='color' id='fill-color' {% if poly_property %} value='{{poly_property.fill_color}}' {% endif %}></td></tr>
    <tr><td>Fill opacity</td><td><input id='fill-opacity' {% if poly_property %} value='{{poly_property.fill_opacity}}' {% endif %}></td></tr>
  </table>
  <div class='description-box'>
  <table><tr><td>Descriptions</td><td>Used descriptions</td></tr>
      <tr><td>
        <ul class='descriptions-list'>
        {% for desc in descriptions %}
          <li class='description-item' value='{{desc.id}}'>{{desc.title}}</li>
        {% endfor %}
        </ul>
      </td><td>
        <ul class='used-descriptions'>
        {% for desc in used_descriptions %}
          <li class='description-item' value='{{desc.id}}'>{{desc.title}}</li>
        {% endfor %}
        </ul>
      </td>
    </table>
  </div>
</div>